*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html,
body {
    font-size: 100%;
}

a:hover {
    cursor: pointer;
}

a:focus {
    outline: none;
}

img,
object,
embed {
    max-width: 100%;
    height: auto;
}

object,
embed {
    height: 100%;
}

img {
    -ms-interpolation-mode: bicubic;
}

.left {
    float: left !important;
}

.right {
    float: right !important;
}

.text-left {
    text-align: left !important;
}

.text-right {
    text-align: right !important;
}

.text-center {
    text-align: center !important;
}

.text-justify {
    text-align: justify !important;
}

.hide {
    display: none;
}

.antialiased {
    -webkit-font-smoothing: antialiased;
}

img {
    display: inline-block;
    vertical-align: middle;
}

textarea {
    height: auto;
    min-height: 50px;
}

select {
    width: 100%;
}

a {
    color: #3777AF;
    text-decoration: none;
    font-weight: bold;
}

a:hover, a:focus {
    color: #5999cf;
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    color: #222;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    color: #3778b0;
}

h1 {

} 

h2 {

}

h3 {
    
}

h4 {

}

h5 {

}

h6 {

}

p, ul, ol, dl, blockquote, hr, pre, table, fieldset, article footer, nav {
    margin: 0 0 1.5em 0;
}

article ul {
    margin: 0 0 2em 2em;
    list-style: disc outside;
}

article ol {
    margin: 0 0 2em 2em;
    list-style: decimal outside;
}

article blockquote {
    margin: 0 0 1.25em 2.5em;
    font-family: cambria, georgia, times, serif;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    background: #f6f6f6;
    padding: 1.19em 1.25em 0;
    font-style: italic;
}

small {
    font-size: 0.6875em;
}

.wp-post-image,
img.alignright, 
img.alignleft, 
img.aligncenter {

}

a:hover .wp-post-image, a:focus .wp-post-image {

}

.alignleft {
    float: left;
    clear: left;
    margin: 0.38em 1.62em 0.38em 0;
}

.alignright {
    float: right;
    clear: right;
    margin: 0.38em 0 0.38em 1.62em;
}

.aligncenter {
    margin: 0 auto 1.62em;
    display: block;
}

.grid {
	width: 100%;
	max-width: 1280px;
	margin: 0 auto;
}