.show-for-small,
.show-for-medium-down,
.show-for-large-down {
    display: inherit !important;
}

.show-for-medium,
.show-for-medium-up,
.show-for-large,
.show-for-large-up,
.show-for-xlarge {
    display: none !important;
}

.hide-for-medium,
.hide-for-medium-up,
.hide-for-large,
.hide-for-large-up,
.hide-for-xlarge {
    display: inherit !important;
}

.hide-for-small,
.hide-for-medium-down,
.hide-for-large-down {
    display: none !important;
}

/* Medium Displays: 768px - 1279px */
@media only screen and (min-width: 48em) {
    .show-for-medium,
    .show-for-medium-up {
        display: inherit !important;
    }

    .show-for-small {
        display: none !important;
    }

    .hide-for-small {
        display: inherit !important;
    }

    .hide-for-medium,
    .hide-for-medium-up {
        display: none !important;
    }

}
/* Large Displays: 1280px - 1440px */
@media only screen and (min-width: 80em) {
    .show-for-large,
    .show-for-large-up {
        display: inherit !important;
    }

    .show-for-medium,
    .show-for-medium-down {
        display: none !important;
    }

    .hide-for-medium,
    .hide-for-medium-down {
        display: inherit !important;
    }

    .hide-for-large,
    .hide-for-large-up {
        display: none !important;
    }

}
/* X-Large Displays: 1400px and up */
@media only screen and (min-width: 90em) {
    .show-for-xlarge {
        display: inherit !important;
    }

    .show-for-large,
    .show-for-large-down {
        display: none !important;
    }

    .hide-for-large,
    .hide-for-large-down {
        display: inherit !important;
    }

    .hide-for-xlarge {
        display: none !important;
    }

}