/* ----------------------------------------------------------------
    FONTS
---------------------------------------------------------------- */

/* HERE */

/* ----------------------------------------------------------------
    LAYOUT
---------------------------------------------------------------- */

html {
    font: 62.5% "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align: center;
    background: #fff;
}

body {
    text-align: left;
    color: #444;
    font-size: 13px;
    line-height: 18px;
    position: relative;
}

#main {
    overflow: hidden;
    zoom: 1;
    clear: both;
}

#footer {
    overflow: hidden;
    zoom: 1;
    clear: both;
    padding: 1em 0 0 0;
}

/* ----------------------------------------------------------------
    HEADER
---------------------------------------------------------------- */

#header {

}

#header #logo {
	font-size: 2em;
	margin: 1em 0;
}

.open-menu {
	margin-top: -3px;
}

/* ----------------------------------------------------------------
    NAVIGATION
---------------------------------------------------------------- */

#main-nav {

}

#main-nav ul {
    padding: 1em 0;
    overflow: hidden;
    zoom: 1;
    margin: 0;
}

#main-nav ul li {
    float: left;
    margin-right: 12px;
    margin-left: 12px;
    position: relative;
}

#main-nav ul li a {
    display: block;
}

#main-nav ul li ul {
    left: -999em;
    top: 0;
    position: absolute;
    background: #fff;
    border: 1px solid #eee;
    border-top: 0;
    margin: 2.5em 0 0 0 !important;
    padding: 0 !important;
    line-height: 1em;
}

#main-nav ul li:hover ul {
    left: auto;
    width: 15em;
}

#main-nav ul li:hover ul ul {
    left: -999em;
    margin: 0;
}

#main-nav ul ul li:hover ul {
    left: 15em;
    margin-top: -1px !important;
    ];
}

#main-nav ul ul li {
    display: block;
    float: none;
    padding: 0 !important;
    margin: 0 !important;
    border-top: 1px solid #eee;
}

#main-nav ul ul li a {
    display: block;
    padding: 1em;
}