@media only screen and (max-width: 768px) {

	* {
	  box-sizing: border-box;
	}
	
	html, body { min-height: 100%; }
	a { text-decoration: none; }
	
	.main-header {
		background: #2ba6cb;
		padding: 0px;
		text-align: center;
		color: white;
		position: fixed;
		width: 100%;
		left: 0px;
		top: 0px;
		z-index: 10;
		transition: all 0.3s ease;
		height: 50px;
		line-height: 50px;
	}
	
	.main-header h1 {
		font-size: 1em;
		margin: 0;
		color: white;
	}
	
	.main-header a {
		position: absolute;
		left: 12px;
		top: 0px;
		color: white;
		font-size: 30px;
	}
	
	.mobile-menu-holder {
		height: 50px;
		float: right;
		width: 100%;
		transition: width 0.3s ease;
	}
	
	#main-nav {
		position: fixed;
		top: 0;
		left: 0;
		width: 0;
		height: 100%;
		background: #3B3B3B;
		overflow-y: auto;
		transition: width 0.3s ease;
		z-index: 10;
	}
	
	#main-nav ul {
		padding: inherit;
		background-color: inherit;
		overflow: inherit;
		zoom: inherit;
		margin: inherit;
	}
	
	#main-nav ul li {
		float: inherit;
		margin-right: inherit;
		position: inherit;
		margin-left: inherit;
	}
	
	.main-nav a {
		display: block;
		border-top: 1px solid #484848;
		border-bottom: 1px solid #2E2E2E;
		color: white;
		padding: 15px;
	}
	
	.main-nav a:after {
	    content: "";
	    position: absolute;
	    top: 0;
	    right: 0;
	    height: 100%;
	    width: 34px;
	    background: linear-gradient(left, rgba(black, 0), rgba(black, 0.4));
	}
	
	.content {
		padding: 100px 20px 20px 20px;
	}
	
	.close-menu {
		display: none;
	}
	
	#main-nav.open {
		width: 270px;
		overflow-y: scroll;
		-webkit-overflow-scrolling: touch;
	}
	
	.mobile-menu-holder.open .main-header {
		left: 270px;
	}
	
	.mobile-menu-holder.open .open-menu {
		display: none;
	}
	
	.mobile-menu-holder.open .close-menu {
		display: block;
	}

}